:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --background-color-main: #d7d0c9;
  --background-color-toast: #aca59f;
  --container-max-width: 1024px;
  --divider-color: #000000;
}